html, body {border-right: 0px !important;}
body {background:white;margin:0px;padding:0px;}
body,th,td,pre,div,span,li,a,input,select,textarea {font-size:10px;color:black;font-family:Verdana, Arial, Helvetica, sans-serif;background:transparent;}
table {border-collapse:collapse;}
tr, td {vertical-align:top;empty-cells:show;border-collapse:collapse;}
a, a:visited {text-decoration:none;}
a:hover {color:highlight !important;text-decoration:underline!important;}
.buttons {color:black;background:#999;border:1px solid gray;width:98%;}
.iconbar {text-align: right;background:#ccc;border:1px solid gray;width:99%;margin-bottom:4px;padding:2px;}
img {vertical-align:middle;}
.fixed {font-family:courier;}
.header, .header a, .header a:visited {vertical-align:middle;background:black;color:white;padding:2px;}
.crumb {font-weight:bold;color:white;background:#333;padding:2px;margin:2px;vertical-align:middle;border-top:1px solid gray;border-bottom:1px solid gray;}
.crumb a, .crumb a:visited {font-weight:bold;color:white;background:#333;padding:2px;margin:2px;vertical-align:middle;}
.titlebar, .titlebar a, .titlebar a:visited {background:#369;color:white;font-weight:bold;}
.subtitle, .subtitle a, .subtitle a:visited {background:#333;color:white;}
.tablehead, .tablehead td, .tablehead a, .tablehead a:visited {color:black;background:#666;font-weight:bold;}
.private {vertical-align:top;color:black;background:#ccc url('themes/default/images/private-event.png') no-repeat center;}
.label {vertical-align:top;color:black;background:#999;}
.data {color:black;background:#ccc;}
.row1, .row1 td, .row1 a, .row1 a:visited {color:black;background:white;}
.row2, .row2 td, .row2 a, .row2 a:visited {color:black;background:#ddd;}
.menu, .menu a, .menu a:visited {color:black;background:#999;}
.submenu, .submenu a, .submenu a:visited {color:black;background:#ccc;}
.error {color:red;background:#ccc;font-weight:bold;}
.required {color:red;background:transparent;font-weight:bold;}
.borders, .borders td {border:1px solid gray;}
.noborders, .noborders td {border:none;}
.leftnav {padding:0px;margin:0px;border-right:1px solid gray;}
.leftnav td {border:none;border-bottom:1px solid gray;}
.rightnav {padding:0px;margin:0px;border-left:1px solid gray;}
.rightnav td {border:none;border-bottom:1px solid gray;}
input, select, textarea {border:1px solid gray;margin: 2px;background:#eee;}
textarea {width:99%;}
.privateupdate {vertical-align:top;background:white url(themes/default/images/private-event.png) no-repeat center;}
.footer {border-top:1px solid gray;}
form {display:inline;}
.debug {margin:2px;padding:2px;}
.login {color:black;background:#ccc;border:1px solid gray;}
